.form {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  padding: 3rem;
  border: 1px solid black;
}
.connect{
  display: flex;
  justify-content: space-between;
}
.connect>div{
  padding: 0.5rem;
}